<app-menu></app-menu>
<div>
    <h3>Request Review</h3>
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Description</th>
            <th>Rejection Reason</th>
            <th>Status</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let request of requests">
            <td>{{request.id}}</td>
            <td>{{request.user.username}}</td>
            <td>{{request.description}}</td>
            <td>{{request.rejectionreason}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
            <td>
                <button (click)="review(request.id)" class="btn btn-link">Review</button>
            </td>
        </tr>
    </thead>
</table>



