<app-menu></app-menu>

<div>
    <h3>Request Final Review</h3>

</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Rejection Reason</th>
            <th>Status</th>
            <th>Total</th>
        </tr>
        <tr *ngIf="request.user">
            <td>{{request.id}}</td>
            <td>{{request.user.username}}</td>
            <td>{{request.description}}</td>
            <td>{{request.rejectionReason}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
        </tr>
    </thead>
</table>
<div>
    <span><h5>Request Lines</h5></span>
</div>
<table class="table table-sm">
    <tr>
        <th>Id</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    <tr *ngFor="let requestline of request.requestLines">
        <td>{{requestline.id}}</td>
        <td>{{requestline.product.name}}</td>
        <td>{{requestline.quantity}}</td>
        <td>{{requestline.product.price}}</td>
        <td>{{requestline.product.price*requestline.quantity}}</td>
    </tr>
</table>
<button (click)="approve()" class="btn btn-success">Approve</button> |
<button (click)="toggleVerify()" class="btn btn-danger">Reject</button>
<span *ngIf="showVerify">
    <input [(ngModel)]="request.rejectionreason" type="text" placeholder="Rejection Reason">
    <button (click)="reject()" class="btn btn-danger">Verify Reject</button>
</span>




